:root {
    --branco-principal: #ffffff ;
    --roxo-pimário: #7e1bcf;
    --roxo-secundario: #7a049e;
    --botao-azul: #202de9;
    --cor-de-fundo: #000000 ;
}
   
body {
    background-color: var(--cor-de-fundo);
    color: var(--roxo-pimário);
    justify-content: flex-end;
}


*  {
    margin: 0;
    padding: 0;
}


.principal {
    background-image: url(img/JFLIX.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain ;
}

.container {
    height: 100vh;
}

#logo {
    margin-left: 300px;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 16px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /* Mantém display block para o botão */
    text-align: center; /* Adiciona centralização do texto no botão */
    border: none; /* Remove borda padrão, se houver */
    cursor: pointer; /* Adiciona cursor pointer para indicar clicabilidade */
    transition: background-color 0.3s; /* Adiciona transição suave para a cor de fundo */
    width: 400px;
    margin-top: -100px;
    margin-left: 350px;
}

.container__botao2 {
    background-color:transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 16px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /* Mantém display block para o botão */
    text-align: center; /* Adiciona centralização do texto no botão */
    cursor: pointer; /* Adiciona cursor pointer para indicar clicabilidade */
    transition: background-color 0.3s; /* Adiciona transição suave para a cor de fundo */
    width: 400px;
    margin-top: 20px;
    margin-left: 350px;
}

.container__botao:hover {
    background-color: darken(var(--botao-azul), 10%); /* Adiciona efeito hover para o botão */
}

.container__botao2:hover {
    background-color: darken(var(--botao-azul), 10%); /* Adiciona efeito hover para o botão */
}

.container__aviso  {
    color: var(--branco-principal);
    margin-left: 300px;
    margin-top: 10px;
    font-size: 20px;
}

.container__titulo {
    font-size: 55px;
    font-weight: 800;
    margin-left: 40px;
}


.container__imagem {
    margin: -5em 0 0em 0;
}

.container__caixa {
    margin: 0 6em;
}


.secundario__imagem {
    width: 40%;
}

.secundario {
    align-items: center;
    margin: 1 10em;
}

.descricao__titulo {
    font-weight: 900;
    font-size: 150px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    font-size: 50px;
    font-weight: 2000;
    margin-left: 1200px;
    margin-top: -700px;
}

.descricao__texto {
    color: var(--roxo-secundario);
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0.1em;
    margin-left: 1200px;
    margin-top: 50px;
}
